<p>
  {{link-to "Place list" "places.index" }}
</p>

<h1>Place show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Country:</strong>
  <span>{{model.country}}</span>
</p>

