<h2 id="title">Welcome to Ember</h2>

{{#link-to 'places.index'}}List of places{{/link-to}}

{{#link-to 'places.new'}}New place{{/link-to}}

{{#link-to 'posts.index'}}List of posts{{/link-to}}

{{#link-to 'posts.new'}}New post{{/link-to}}

{{outlet}}
